/poetry.lock
.idea/**
/.idea/*.iml
/.idea/inspectionProfiles/**
/djapy/__pycache__/
/static/**
/djapy/.env
/node_modules/**
/djapy_app/migrations/**
/rest_app/migrations/**
/package-lock.json
/base-gen/**
/templates/base-gen/
/templates/gen/
